/* Fireworks canvas */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* allows clicking buttons */
    z-index: 0; /* fireworks behind */
}

/* Container with text and button */
.container {
    position: relative;
    z-index: 1; /* make sure content is on top */
    text-align: center;
    padding-top: 150px;
    color: white;
}

